.color-primary{
    color: var(--color-primary);
}

.color-secondary{
    color: var(--color-secondary);
}

.color-tertiary{
    color: var(--color-tertiary);
}

.color-error{
    color: var(--color-red-400);
}

.color-success{
    color: var(--color-green-500);
}

.color-light{
    color: var(--color-white);
}